    .container { width: 450px; margin: 20px auto; 
    border: 1px solid black; padding: 0;}
    .day1 { text-align: center; padding-top:20px; background-color: lightblue;}
    .day1 h3 { font-size: 1.5em; color: #666;}
    .day1 p { font-weight: bold; color: #222;}
    .day1 .accent { font-style: italic; font-size: 1.1em; color: blueviolet;}
    .bar { background-color: #747474; color: #fff; font-size: 1.1em;
    padding-left: 42px; margin: -17px; height: 40px; line-height: 40px;}
    .day2 { width: 420px; margin: 0 auto; background-color: lemonchiffon;}
    .day2 ul { list-style: none; height: 60px; border-bottom: 1px dashed #ccc;}
    .day2 .item_title { float: left; width: 160px; font-size: 1.5em;
    line-height: 40px;}
    .day2 .item_date { color: #222; font-size: 1.2em; text-align: right; margin-right: 20px;
    line-height: 40px; }
    .day2 ul:last-child {border: none; margin-bottom: 0;}
    .day2 ul:first-child {margin-top: 0 auto;}